<div class="banner" style="background-image: linear-gradient(-225deg, rgba(252,228,79,0.3) 0%, rgba(234,235,228,0.3) 40%), url(<%= asset_path("banner_image.jpg") %>);">
  <div class="banner-content">
    <h1>Cocktails of the season</h1>
    <p>Every drink deserves to have its star moment</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
